.box, .box-first, .box-large, .box-nested, .box-row {
  position: relative;
  box-sizing: border-box;
  min-height: 2.25rem;
  margin-bottom: 0;
  background: rgba(41, 75, 105, 0.1);
  border: 1px solid #FFF;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: #294b69;
  border-radius: 2px;
  border: 1px solid #6f9dc7;
}

.box-large {
  height: 8rem;
}

.box, .box-first, .box-large, .box-nested, .box-row {
  padding: 1rem;
}

.box-row {
  margin-bottom: 1em;
}
